@import 'breakpoints.scss';
@import 'variables.scss';


.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px; 
    margin-top: 30px;
    color:  $font-color-opacity;
    @include for-large-up {
      display: block;
      width: 360px;
    }
  }

  &__line {
    width: 100%;
    opacity: 0.1;
    border-top: 1px solid $text-color;
    margin: 0;
    margin-top: 40px;

    @include for-large-up {
      margin: 0;
    }
  }
  .logo {
  @include for-down-up {
    display: none;
  }
}
}

.about-company {
  margin-top: 48px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include for-large-up {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1140px;
    height: 338px;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 31px 15px 0px 15px;

  @include for-large-up {
    display: block;
    margin: 0;
    margin-top: 25px;
  }

  &__item {
    margin-right: 10px;
  }
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;

  @include for-large-up {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }

  &__column {
    margin-top: 30px;
    @include for-large-up {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    color: $main-font-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    color: $font-color-opacity;
  }

  &__list-item {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
 color: $main-font-color;

  @include for-large-up {
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;
  @include for-large-up {
    line-height: 50px;
    margin: 0;
  }

  &__items {
    text-decoration: none;
    margin-right: 22px;
    color: $font-color-opacity;
    

    @include for-large-up {
      text-decoration: none;
    }
  }
}

.social-links {
  margin-top: 31px;
  margin-bottom: 22px;

  @include for-large-up {
    margin-left: auto;
  }

  &__item {
    margin-right: 20px;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $font-color-opacity;
  }
}

.footer-links {
  @include for-large-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 50px;
  }
}
